
.black { background: var(--clr--black--100);};
.bg-white { background: var(--clr--white--100);};
.bg-gray { background: var(--clr--gray--100); };
.bg-red { background: var(--clr--red--100); };
.bg-blue { background: var(--clr--blue--100); }; 
.bg-cyan { background: var(--clr--cyan--100) };
.bg-cherry { background: }
.bg-green {background: var(--clr--green--100); }; 
.bg-emerald { background: var(--clr--emerald--100); ;}

.text-black { color: var(--clr--black--100) };
.text-white { color: var(--clr--white--100) };
.text-red { color: var(--clr--red--100) };
.text-blue { color: var(--clr--blue--100) };
.text-green { color: var(--clr--green--100) };
.text-cyan { color: var(--clr--cyan--100) };
.text-teal { color: var(--clr--teal--100) };
.text-gray { color: var(--clr--gray--100) };
.text-emerald { color: var(--clr--emerald--100) };

