 :root {
   /*** PRIMITIVES ***/
   --border-sm: 1px solid;
   --border-md: 2px solid;
   --border-lg: 3px solid;
  
   /*** BLACK BORDERS ***/

  --border--sm--black: var(--border-sm) var(--clr--black--100);
  --border--md--black: var(--border-md) var(--clr--black-100);
  --border--lg--black: var(--border-lg) var(--clr--black-100);


    /** WHITE BORDERS **/   
  --border--sm--white: var(--border-sm) var(--clr--white--100);
  --border--md--white: var(--border-md) var(--clr--white--100);
  --border--lg--white: var(--border-lg) var(--clr--white--100);  
  
  /*** CLEAR BORDERS ***/
  --border--sm--clear: var(--border-sm) transparent;
  --border--md--clear: var(--border-md) transparent;
  --border--lg--clear: var(--border-lg) transparent;


  /*** BORDER RADIUS ***/
  --smooth-corners: 0.2rem;
  --round-corners: 0.4rem;
  --extra-round-corners: 0.6rem;

  --circle: 100%
  
}
