
 
@rgb-blue: rgb(0, 0, 255);
@rgb-red: rgb(255, 0, 0);
@rgb-green: rgb(0, 255, 0);
@rgb-black: rgb(12, 12, 12);
@rgb-gray: rgb(120, 120, 120);
@rgb-white: rgb(224,224, 224);
@rgb-purple: rgb(255, 0, 255);
@rgb-yellow: rgb(255, 255, 0);
@rgb-cyan: rgb(0, 255, 255);
@rgb-magenta: rgb(255, 0, 255);
@rgb-teal: rgb(0, 128, 128);
@rgb-rebecca: rgb(102, 51, 153);
@rgb-cherry: rgb(210, 10, 46);
@rgb-coral: rgb(225, 119, 93);
@rgb-gold: rgb(255, 215, 0);
@rgb-emerald: rgb(80, 200, 120);
@rgb-forest: rgb(34, 139, 34);
@rgb-pastel-pink: rgb(255, 192, 203);
@rgb-ivory:rgb(235, 221, 190);
  
